.text-center {
  text-align: center;
}

.bg-blue {
  background: #29f1ff;
}

.mx-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
